header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  height: 80px;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: MediumAquamarine;
  width: 100%;
}

.logo img {
  margin-right: 12px;
}

header nav {
  display: flex;
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav a {
  color: black;
}
